// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

$primary-color: #6096b4;
$secondary-color: rgb(32, 221, 170);
$third-color: #bdcdd6;
$fourth-color: #5893d4;
$bg1-color: #0c134f;
$bg2-color: #1d267d;
$footer-color: #191717;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

// $spacer: 1rem;
