// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

$primary-color: #6096b4;
$secondary-color: rgb(32, 221, 170);
$third-color: #bdcdd6;
$fourth-color: #5893d4;
$bg1-color: #0c134f;
$bg2-color: #1d267d;
$footer-color: #191717;
$white: #fff;
$blue:#0000ff;




$seaColor1: #aed9da;
$seaColor2: #3ddad8;
$seaColor3: #2a93d5;
$seaColor4: #135589;



// Colors for drop-down list;
$pri: #128CFC;
$sec: #fffffe;
$dark-pri: #0B5AA2;
$black: #0000;



// Colors for banner
$bannerColor1: #4f97c9;
$bannerColor2: #87bed2;
$bannerColor3: #6480cc;




// Colors for contact form
$formBgColor: #e6e6e6;
$formColor1: #78788c;
$formColor2: #bebed2;
$formFocusInputColor: #cdc5c5;
$formButtonColor: #5a5a5a;


// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

// $spacer: 1rem;
