
@use "variables" as *;

//importing bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

body{
  background-color: $seaColor1;
  // background-image: url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: $primary-color;
    // background-image: url(https://cdn.pixabay.com/photo/2015/03/30/12/37/jellyfish-698521_1280.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    z-index: 100;

    

  


  h2{

    font-family:"Seymour One",sans-serif ;
    color: $secondary-color;
    // outline: 2px solid rgb(10, 57, 28);
    // outline-offset: .2em;
    
  }

  ul{

    list-style-type: none;
    font-family: "Lato",Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    gap: 1em;
    position: relative;

    


    .container1{
      
      position: absolute;
      top: 3rem; right: 0; bottom: 0; left: 4rem;
      margin: auto;
      
      display: grid;
      place-items: center;
      background-color: $pri;
      z-index: -1;
      opacity: 0;
    }

    .content:focus+.container1{
      opacity: 1;
      display: block;
    }
    .content:hover+.container1{
      opacity: 1;
      display: block;
    }
    
    .items {
      width: 300px;
      background: $sec;
      box-shadow: 0 10px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
      border-top: 10px solid $dark-pri;
    }
    
    .items-head p{
      padding: 5px 20px;
      margin: 10px;
      color: #0B5AA2;
      font-weight: bold;
      font-size: 20px;
    }
    
    .items-head hr {
      width: 20%;
      margin: 0px 30px;
      border: 1px solid $dark-pri;
    }
    
    .items-body {
      padding: 10px;
      margin: 10px;
      display: grid;
      grid-gap: 10px;
    

      span{
      
        a:hover{
          color: $bg2-color;
          text-decoration: none;
          background-color: $primary-color;
          opacity: 60%;
          padding: 5px 25px 5px 10px;
          border-radius: 10px;
          font-size: 1.3rem;
          transition: .4s;
          
        }
       
      }
    }

    
    
    .items-body-content {
      padding: 10px;
      padding-right: 0px;
      display: grid;
      grid-template-columns: 10fr 1fr;
      // background-color: lightblue;
      font-size: 16px;
      grid-gap: 10px;
      border: 1px solid transparent;
      cursor: pointer;
      
    }
    
    .items-body-content:hover {
      border-radius: 15px;
      border: 1px solid $dark-pri;
    }
    
    .items-body-content i {
      align-self: center;
      font-size: 15px;
      color: $dark-pri;
      font-weight: bold;
      animation: icon 1.5s infinite forwards;
    }
    
    @keyframes icon {
      0%,100%{
        transform: translate(0px);
      }
      50% {
        transform: translate(3px);
      }
    }

  }

  a{

    text-decoration: none;
    color: $bg1-color;
    &:hover{
      color: $third-color;
      text-decoration: underline;
    }
  }

  @media (width<570px) {
    ul{
      display: none;
    }
    header{
      height: 14vh;
    }
  }

}



main{

  padding-top: 100px;


    .banner__content, .pouring {
         
        padding: 3rem 0;
        font-size: 50px;
        line-height: 50px;
        font-family: Verdana, sans-serif;
        font-weight: 1000;
        position: relative;
        background: white;
        overflow: hidden;
        text-transform: uppercase;
        text-align: center;
    
      
        &:before {
          content: '';
          position: absolute;
          filter: blur(10px);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          mix-blend-mode: screen;
          background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #BFE2FF 1em, #337AB7 50%), repeating-linear-gradient(45deg, #337AB7, #337AB7 1em, #FFF 1em, #BFE2FF 50%);
          background-size: 3em 3em, 2em 2em;
          animation-name: ani;
          animation-duration: 10s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-direction: alternate;
      }
      @keyframes ani {
          from {
              background-position: 0 0;
          }
          to {
              background-position: 100% 0;
          }
      }
      @media (max-width:690px) {    
          .pouring {font-size: 20px;}    
      }
    }
    @keyframes move {
      from {
        transform: translate(-90px, 0%);
      }
    
      to {
        transform: translate(90px, 0%);
      }
    }
    
    .banner svg {
      width: 100%;
      background: #4f97c9;
      display: block;
      width: 100%;
      height: 15vw;
    }
    
    .banner svg>g>use {
      animation: move 30s linear infinite;
    }
    
    .banner svg>g>use:nth-child(1) {
      animation-delay: -2s;
      fill: #87bed2;
    }
    
    .banner svg>g>use:nth-child(2) {
      animation-delay: -2s;
      animation-duration: 17s;
      fill: #6480cc;
    }
    
    .banner svg>g>use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 10s;
      fill: #3271a8;
    }

  


  .container{
    min-height: 100vh;
     
    .paragraph{
      color: blue;
      text-decoration: underline;

      &:hover{
        color: #fff;
      }
    }

   

    }


    a{
      text-decoration: none;
      color: #fff;

    }
  .info{

    h1{
      padding:2rem 0;
      border-bottom: 8px solid transparent;
      border-image: linear-gradient(to right, #45c8cd, rgb(42, 42, 195), #4ce2b2);
      border-image-slice: 1;
      
      width:100%;
    
    }
    p{
      padding: 2rem 0;
      line-height: 1.7em;
    }
    
  }
  .info-sea{
    padding-bottom: 5rem;
  }

  .mission{
    
    h2{
      font-weight: 300;
      font-size: 38px;
      color: $bg2-color;
      text-shadow: 2px 0 20px #0e304e;
      border-bottom: 3px solid #2067a5;
      padding-bottom: 2rem;
      border-width: 2 px;
      
   
    }
    p{
      padding: 2rem 0;
      line-height: 1.7em;
    }
  }
 
}

footer{
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: $footer-color;
  padding: 0 1rem;
  padding-bottom: 2rem;

.copy{
  padding-left: 5rem;
  font-size: 1.4rem;
}


  .social-media{
    display: flex;
    gap: 1rem;
    font-size: 1.7rem;
    padding-right: 2rem;

    a{
      color: #fff;

      &:hover{
        text-shadow:0px 0px 30px rgb(151, 151, 148), 2px 2px 40px #e3e055,-2px -8px 30px #e3e055,5px 5px 40px #bd6dd1,-5px -10px 50px #bd6dd1 ;
        box-shadow: 0px 0px 30px rgb(151, 151, 148), 2px 2px 40px #e3e055,-2px -8px 30px #e3e055,5px 5px 40px #bd6dd1,-5px -10px 50px #bd6dd1;
        background-color: #878432;
        color: $fourth-color;
        transition: .3s;
        
      
      }

    }

   
  }

  @media (width<700px) {
    flex-direction: column;
    .social-media{
      justify-content: center;
      padding-right: 0;
      padding-bottom: 5rem;
    }

    .copy{
      padding-top: 3rem;
     margin-right: 5rem;
    }
  }

.form{
  width: 20rem;
  height: 23rem;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 15px;
  margin:calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  position: relative;

  h2{
    margin: 10px 0;
    padding-bottom: 8px;
    width: 13rem;
    color: #78788c;
    border-bottom: 3px solid #78788c;
    
  }

  input{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat",sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;

    &:focus{
      border-bottom: 3px solid #78788c;
      background-color: #cdc5c5;
    }
  }

  p::before{
    content: attr(type);
    display: block;
    font-size: 14px;
    color: #5a5a5a;
  
  }

  button{
    float: right;
    padding: 5px 10px;
    font-family: "Montserrat",sans-serif;
    border: 2px solid;
    border-radius: 5px;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;


    &:hover{
     
      background: #78788c;
      color: #fff;
    }
  }

  div{

    content: "";
    position: absolute;
    bottom: -37px;
    right: -45px;
    background: #50505a;
    color: #fff;
    width: 22rem;
    padding: 10px 0 10px 15px;
    border-radius: 5px;
    box-shadow:10px 10px 40px -14px #000;
  }
  span{
    margin:0 5px 0 10px;
  }


}

}